# Environnements virtuels
venv/
ENV/
.env/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Fichiers de logs et bases locales
*.log
*.sqlite3

# Configs locales et secrets
*.env
config.json
*.ini

# Caches
.cache/
*.egg-info/
.eggs/

# Outils/IDE
.vscode/
.idea/
*.swp
*.swo

# Mac / Windows
.DS_Store
Thumbs.db

# Notebooks checkpoints
.ipynb_checkpoints/
